body{
  background:black;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

#ship{
  stroke:white;
  stroke-width:2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.chunk{
  stroke: gray;
  stroke-width:1px;
}
